/* App.css */
.app-background {
  background-image: url("https://plus.unsplash.com/premium_photo-1661434758776-faf568a8a34f?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: "fixed";
  height: 100vh; /* This makes the image cover the entire viewport height */
  width: 100%;
  margin: 0;
  padding: 0;
}
.center-text {
  text-align: center;
}
