/* App.css */
.app-background {
  background-image: url("https://plus.unsplash.com/premium_photo-1661434758776-faf568a8a34f?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: "fixed"; /* Adds shopping cart image to background */
  background-position: center top;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.center-text {
  /* Centers the text and removes bold description */
  text-align: center;
  font-style: oblique;
}
